/* ============================================
   RAVENSARA SANS FONT
   Fuente personalizada
   ============================================ */

@font-face {
  font-family: 'Ravensara Sans';
  src: url('fonts/RavensaraSans-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ravensara Sans';
  src: url('fonts/RavensaraSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ravensara Sans';
  src: url('fonts/RavensaraSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ravensara Sans';
  src: url('fonts/RavensaraSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ravensara Sans';
  src: url('fonts/RavensaraSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ravensara Sans';
  src: url('fonts/RavensaraSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ravensara Sans';
  src: url('fonts/RavensaraSans-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

